.setCarouselHeight{
    height: 400px;
}
.myCard{
    /* margin-left: 10px; */
    margin-right: 10px;
}
/* .container{
    background-color: blueviolet;
    height: 80px;
}

.row{
    height: 30px;
    border: 1px solid black;
}

.mycol{
    height: 20px;
    background-color: orange;
    border: 1px solid black;
} */
